@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');

.parent {
  border: 10px solid goldenrod;
  background-color: #1abc9c;
}

.child-1 {
  margin: 10px;
  padding: 20px;
  border: 2px solid mistyrose;
  background-color: #3498db;
  font-family: 'Sedgwick Ave', cursive;
  font-size: 5em;
  text-align: center;
  color: white;

  /*
    All positioning done after this
  */

  position: static;
}
